.cart{
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    background: #ffffff;
    width: 400px;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
}

.cart.active{
    right: 0;
}

.cart .top_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .top_cart .close_cart i{
    font-size: 35px;
    cursor: pointer;
}

.cart .top_cart h3{
    font-size: 18px;
}

.cart .top_cart h3 span{
    font-size: 14px;
    color: var(--prag-color);
    font-weight: normal;
}

.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    margin-block: 20px;
    height: 100%;
    overflow-y: scroll;
}

.cart .item_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.cart .item_cart:last-child{
    margin-bottom: 0;
}

.cart .item_cart img{
    width: 100px;
}

.cart .item_cart h4{
    margin-bottom: 10px;
    font-weight: 500;
}

.cart .item_cart .delete_item{
    border: none;
    outline: none;
    cursor: pointer;
}

.cart .item_cart .delete_item i{
    font-size: 22px;
    transition: 0.3s;
}

.cart .item_cart .delete_item i:hover{
    color: var(--dark-red);
    transform: scale(1.2);
}

.cart .bottom_cart .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart .bottom_cart .total .price_cart_total{
    color: var(--main-color);
}

.cart .bottom_cart .button_cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .bottom_cart .button_cart .btn_cart{
    /* display: flex; */
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--main-color);
    transition: 0.3s ease;
}

.cart .bottom_cart .button_cart .btn_cart:hover{
    background: transparent;
}

.cart .bottom_cart .button_cart .trans_bg{
    background: transparent;
}

.cart .bottom_cart .button_cart .trans_bg:hover{
    background: var(--main-color);
}
