
<div class="back_to_top" (click)="back_to_top()">
    <p>back to top</p>
</div>
<footer>
    <div class="container">
        <div class="big_row">
            <img src="img/logo-white.png" alt="">
            <div class="hotline">
                <i class="fa-solid fa-headset"></i>
                <div class="text">
                    <h5>Hotline Free 24/24:</h5>
                    <h6>(+02) 011 2616 7002</h6>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam, ad error possimus distinctio ducimus aperiam nisi rerum, quae aliquid et laudantium saepe velit totam earum fuga minima. Enim, et!</p>
        
        </div>

        <div class="row">
            <h4>FAQs & Help</h4>

            <div class="links">
                <a href="">F.A.Q</a>
                <a href="">Ordering Tracking</a>
                <a href="">Contacts</a>
                <a href="">Events</a>
                <a href="">Help Center</a>
            </div>
        </div>

        <div class="row">
            <h4>Shipping & Delivery</h4>

            <div class="links">
                <a href="">Delivery Information</a>
                <a href="">Discount</a>
                <a href="">Payment & Shipping</a>
                <a href="">Estimated Delivery Time</a>
                <a href="">Shipping Guide</a>
            </div>
        </div>

        <div class="row">
            <h4>Information</h4>

            <div class="links">
                <a href="">Popular</a>
                <a href="">Our Services</a>
                <a href="">Your Account</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms & Condition</a>
            </div>
        </div>

    </div>
</footer>