/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    /* box-sizing !! */
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik',sans-serif
}

/* root: !! */
:root{
    --main-color: #fcb700;
    --dark-color: #222222;
    --prag-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item:   #0066c0;
}

body{
    background: #f5f6f9;
    margin-top: 180px;
}

h1,h2,h3,h4,h5,h6{
    color: var(--dark-color);
}

p{
    color: var(--prag-color);
}

.container{
    width: 75%;
    margin: auto;
}
@media (max-width:1500px){
    .container{
        width: 90%;
    }   
}